@model SEDC.BattleOfWorlds.Domain.Fleet

<div>
    <h4>Shipyard</h4>
    <hr />
   @{   
       foreach (var ship in baseFleet.Ships)
       {
           @Html.Partial("_ShipPartial", ship)
       }
    }
</div>

