timestamp=9/25/2015 9:46:39 AM
version=1
assembly=addfe3e6-5cc9-49b2-99e6-8efb80d41f9e;N2, Version=2.7.5.0, Culture=neutral, PublicKeyToken=null
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Collaboration.ContentFlagSource
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Collaboration.ContentMessageSource
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Collaboration.ManagementFlagCollector
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Collaboration.ManagementMessageCollector
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.LinqNHQueryFacade
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Xml.ApplicationCache`1
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Xml.SessionCache`1
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Xml.XmlRepository`1
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Xml.XmlContentRepository
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Xml.XmlFileSystem
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Xml.XmlInstallationManager
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Xml.LinqXmlQueryFacade
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Web.HtmlSanitizer
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.TemplateAggregator
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Management.Api.ContentHandler
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Management.Api.ContextBuilder
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Management.Api.ContextHandler
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Management.Api.InterfaceBuilder
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Management.Api.InMemoryProfileRepository
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Management.Api.ProfileHandler
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Edit.SlugGenerator
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Versioning.DraftRepository
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.Runtime.FluentDefinitionProvider
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Activity.ActivityRepository`1
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Versioning.ContentVersionRepository
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Engine.Logger`1
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.Runtime.ViewTemplateAnalyzer
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.Runtime.ViewTemplateProvider
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.Runtime.ViewTemplateRegistrator
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.Static.DefinitionProvider
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.Static.DefinitionMap
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.Static.TemplateProvider
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Edit.FileSystem.NH.DatabaseFileSystem
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Edit.FileSystem.NH.FileConfigurationParticipator
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Edit.FileSystem.NH.UploadFileHttpHandler
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Installation.InstallationChecker
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Edit.UploadFolderSource
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Engine.Globalization.LanguageGatewaySelector
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Engine.Providers.ViewContentHelperProvider
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Engine.Providers.PathDataProvider
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Engine.Providers.RouteCollectionProvider
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Engine.Providers.HtmlHelperProvider
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Engine.Providers.HttpContextProvider
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Engine.Providers.ViewEngineCollectionProvider
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Engine.Providers.VirtualPathProviderProvider
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Behaviors.BehaviorInvoker
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Edit.EditUrlManager
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Installation.AppPathRebaser
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.ContentActivator
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.NHRepository`1
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.ContentItemRepository
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.NHInterceptorFactory
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.RelationConfigurationBuilderParticipator
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Search.AsyncIndexer
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Search.ContentChangeTracker
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Search.EmptyIndexer
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Search.ContentIndexer
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Sources.ContentSource
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Search.BackwardsCompatibleSearcher
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Search.FindingContentSearcher
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Search.IndexableDefinitionExtractor
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.EmptyConfigurationBuilderParticipator
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.DescendantItemFinder
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Search.TextExtractor
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Sources.VersionSource
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Sources.DatabaseSource
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Sources.ActiveContentSource
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.TagsRepository
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.TemporaryFileHelper
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Plugin.ConnectionMonitor
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Resources.ResourceInitializer
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Web.CacheWrapper
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Web.DefaultExceptionFilter
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Web.Messaging.MessageBroker
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Web.Messaging.HttpRequestChannel
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Web.MultipleSitesInitializer
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Web.Mvc.ControllerFactoryConfigurator
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Web.Mvc.ServiceLocatingControllerFactory
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Web.Mvc.ControllerMapper
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Web.Rendering.ContentRendererSelector
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Web.Rendering.DisplayableTokenRenderer
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Web.Slug
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Web.Targeting.Detectors.Authenticated
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Web.Targeting.Detectors.Anonymous
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Web.Targeting.Detectors.Manager
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Web.Targeting.Detectors.MobileDevice
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Web.Targeting.TargetingRadar
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Web.Tokens.TokenDefinitionFinder
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Web.DirectUrlInjector
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Web.Wiki.WikiParser
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Web.Rendering.DisplayableRendererSelector
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Web.Rendering.FallbackDisplayableRenderer
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Web.Rendering.WritingDisplayableRenderer
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Web.RssWriter
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Integrity.IntegrityManager
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.Finder.ItemFinder
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.NHRepository`2
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Plugin.PluginBootstrapper
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Web.DynamicSitesProvider
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Web.RequestLifeCycleHandler
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.AttributeExplorer
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.Static.DefinitionBuilder
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.DefinitionManager
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Edit.ContainerRepository`1
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Installation.DatabaseStatusCache
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Installation.MigrationEngine
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Edit.FileSystem.MappedFileSystem
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Installation.NHInstallationManager
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Edit.VirtualNodeFactory
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Workflow.CommandDispatcher
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Workflow.CommandFactory
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Workflow.StateChanger
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Engine.ServiceProvider`1
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.EntityDependencySetter`1
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.ContentDependencyInjector
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.ItemNotifier
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Proxying.InterceptingProxyFactory
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Serialization.GZipExporter
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Serialization.GZipImporter
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Serialization.ItemXmlReader
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Serialization.ItemXmlWriter
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Web.Drawing.ImageResizer
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Web.RequestPathProvider
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Edit.FileSystem.DefaultDirectorySelector
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Engine.AsyncWorker
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Engine.StructureBoundCache`1
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Engine.StructureBoundDictionaryCache`2
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Engine.ContentAdapterProvider
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Engine.Globalization.LanguageGateway
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Engine.Globalization.LanguageInterceptor
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.ClassMappingGenerator
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.TrailTracker
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.ConfigurationSource
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Edit.EditManager
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Navigator
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Edit.TreeSorter
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Integrity.IntegrityEnforcer
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.ConfigurationBuilder
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.ContentPersister
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.SessionProvider
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Plugin.PluginFinder
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Plugin.Scheduling.Heart
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Plugin.Scheduling.Scheduler
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Security.SecurityManager
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Web.ObsoleteErrorHandler
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Web.ErrorNotifier
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Web.ErrorHandler
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Web.Host
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Web.HtmlFilter
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Web.Mail.SmtpMailSender
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Web.Parts.CreateUrlProvider
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Web.Parts.EditUrlProvider
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Web.Parts.ItemCopyer
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Web.Parts.ItemDeleter
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Web.Parts.ItemMover
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Web.UI.CacheManager
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Web.UI.PartUtilities
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Versioning.VersionManager
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.EditableHierarchyBuilder
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Settings.NavigationSettings
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Security.SecurityEnforcer
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Web.AjaxRequestDispatcher
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Engine.ServiceAttribute];N2.Web.AjaxRequestHandler
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=N2.ContentItem;N2.ContentItem
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=N2.ContentItem;N2.Persistence.Xml.UnresolvedRelation
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=N2.ContentItem;N2.Definitions.Runtime.ViewTemplateAnalyzer+StubItem
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=N2.ContentItem;N2.Edit.CreatorItem
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=N2.Plugin.IPluginInitializer;N2.Plugin.IPluginInitializer
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];N2.Edit.NodeAdapter
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];N2.Edit.EditableAdapter
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];N2.Web.RequestAdapter
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];N2.Web.Parts.PartsAdapter
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Web.Mvc.IController;N2.Definitions.Runtime.ViewTemplateAnalyzer+StubController
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Web.Mvc.IController;N2.Web.Mvc.ContentController
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Web.Mvc.IController;N2.Web.Mvc.ContentController`1
addfe3e6-5cc9-49b2-99e6-8efb80d41f9e=System.Object[N2.Plugin.IPlugin];N2.Web.UI.WebControls.ControlPanel
assembly=f21c0d46-0b73-4759-9556-49367e770f2b;N2.Extensions, Version=2.7.5.0, Culture=neutral, PublicKeyToken=null
f21c0d46-0b73-4759-9556-49367e770f2b=System.Object[N2.Engine.ServiceAttribute];N2.Web.Rendering.EditableItemRenderer
f21c0d46-0b73-4759-9556-49367e770f2b=System.Object[N2.Engine.ServiceAttribute];N2.Web.Mvc.Html.TemplateRenderer
f21c0d46-0b73-4759-9556-49367e770f2b=N2.ContentItem;none
f21c0d46-0b73-4759-9556-49367e770f2b=N2.Plugin.IPluginInitializer;none
f21c0d46-0b73-4759-9556-49367e770f2b=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];N2.Web.Mvc.MvcAdapter
f21c0d46-0b73-4759-9556-49367e770f2b=System.Web.Mvc.IController;none
f21c0d46-0b73-4759-9556-49367e770f2b=System.Object[N2.Plugin.IPlugin];none
assembly=eeaf2f3c-0eb0-44ed-93dc-c2a11d9669ce;N2.Management, Version=2.7.5.0, Culture=neutral, PublicKeyToken=null
eeaf2f3c-0eb0-44ed-93dc-c2a11d9669ce=System.Object[N2.Engine.ServiceAttribute];N2.Edit.AutoPublish.PublishScheduledAction
eeaf2f3c-0eb0-44ed-93dc-c2a11d9669ce=System.Object[N2.Engine.ServiceAttribute];Management.N2.Content.LinkTracker.UpdateImagesMigration
eeaf2f3c-0eb0-44ed-93dc-c2a11d9669ce=System.Object[N2.Engine.ServiceAttribute];N2.Management.Content.Navigation.ChildGroupSource
eeaf2f3c-0eb0-44ed-93dc-c2a11d9669ce=System.Object[N2.Engine.ServiceAttribute];N2.Management.Content.Trash.AsyncTrashPurger
eeaf2f3c-0eb0-44ed-93dc-c2a11d9669ce=System.Object[N2.Engine.ServiceAttribute];N2.Edit.ViewOptionProvider
eeaf2f3c-0eb0-44ed-93dc-c2a11d9669ce=System.Object[N2.Engine.ServiceAttribute];N2.Edit.EditOptionProvider
eeaf2f3c-0eb0-44ed-93dc-c2a11d9669ce=System.Object[N2.Engine.ServiceAttribute];N2.Management.Content.Export.BulkOptionProvider
eeaf2f3c-0eb0-44ed-93dc-c2a11d9669ce=System.Object[N2.Engine.ServiceAttribute];N2.Management.Content.Export.CsvParser
eeaf2f3c-0eb0-44ed-93dc-c2a11d9669ce=System.Object[N2.Engine.ServiceAttribute];N2.Management.Content.LinkTracker.UpdateLinksMigration
eeaf2f3c-0eb0-44ed-93dc-c2a11d9669ce=System.Object[N2.Engine.ServiceAttribute];N2.Management.Content.Navigation.ChildrenAjaxService
eeaf2f3c-0eb0-44ed-93dc-c2a11d9669ce=System.Object[N2.Engine.ServiceAttribute];N2.Management.Content.NumberOfItemsScheduledAction
eeaf2f3c-0eb0-44ed-93dc-c2a11d9669ce=System.Object[N2.Engine.ServiceAttribute];N2.Management.Content.Tags.TagsAjaxService
eeaf2f3c-0eb0-44ed-93dc-c2a11d9669ce=System.Object[N2.Engine.ServiceAttribute];N2.Management.Content.Templates.ContentTemplateProvider
eeaf2f3c-0eb0-44ed-93dc-c2a11d9669ce=System.Object[N2.Engine.ServiceAttribute];N2.Management.Content.Templates.ContentTemplateRepository
eeaf2f3c-0eb0-44ed-93dc-c2a11d9669ce=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Globalization.GlobalizationOptionProvider
eeaf2f3c-0eb0-44ed-93dc-c2a11d9669ce=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Wizard.WizardOptionProvider
eeaf2f3c-0eb0-44ed-93dc-c2a11d9669ce=System.Object[N2.Engine.ServiceAttribute];N2.Management.Externals.ExternalContentRepository
eeaf2f3c-0eb0-44ed-93dc-c2a11d9669ce=System.Object[N2.Engine.ServiceAttribute];N2.Management.Files.FileSystemSource
eeaf2f3c-0eb0-44ed-93dc-c2a11d9669ce=System.Object[N2.Engine.ServiceAttribute];N2.Management.Files.FileSystem.Pages.ImageSizeCache
eeaf2f3c-0eb0-44ed-93dc-c2a11d9669ce=System.Object[N2.Engine.ServiceAttribute];N2.Management.Files.FolderNodeProvider
eeaf2f3c-0eb0-44ed-93dc-c2a11d9669ce=System.Object[N2.Engine.ServiceAttribute];N2.Management.Files.UpdateFilePrefixMigration
eeaf2f3c-0eb0-44ed-93dc-c2a11d9669ce=System.Object[N2.Engine.ServiceAttribute];N2.Management.Files.UploadedFilesResizer
eeaf2f3c-0eb0-44ed-93dc-c2a11d9669ce=System.Object[N2.Engine.ServiceAttribute];N2.Management.Files.VirtualFolderInitializer
eeaf2f3c-0eb0-44ed-93dc-c2a11d9669ce=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.CleanZoneNameMigration
eeaf2f3c-0eb0-44ed-93dc-c2a11d9669ce=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.ConvertEnumsMigration
eeaf2f3c-0eb0-44ed-93dc-c2a11d9669ce=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.FixZoneNamePartsMigration
eeaf2f3c-0eb0-44ed-93dc-c2a11d9669ce=System.Object[N2.Engine.ServiceAttribute];N2.Installation.Migrations.RebuildImageSizesMigration
eeaf2f3c-0eb0-44ed-93dc-c2a11d9669ce=System.Object[N2.Engine.ServiceAttribute];N2.Installation.Migrations.RecordedAssemblyVersionMigration
eeaf2f3c-0eb0-44ed-93dc-c2a11d9669ce=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.EditableItemMigration
eeaf2f3c-0eb0-44ed-93dc-c2a11d9669ce=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.UpgradeVersionsMigration
eeaf2f3c-0eb0-44ed-93dc-c2a11d9669ce=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.FixStateMigration
eeaf2f3c-0eb0-44ed-93dc-c2a11d9669ce=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.UpdateChildStateMigration
eeaf2f3c-0eb0-44ed-93dc-c2a11d9669ce=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.UpdateTranslationKeyMigration
eeaf2f3c-0eb0-44ed-93dc-c2a11d9669ce=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.UpdateTemplateKeyMigration
eeaf2f3c-0eb0-44ed-93dc-c2a11d9669ce=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.UpdateAlteredPermissionsMigration
eeaf2f3c-0eb0-44ed-93dc-c2a11d9669ce=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.InsertAncestralTrailMigration
eeaf2f3c-0eb0-44ed-93dc-c2a11d9669ce=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.UpdateAppPathMigration
eeaf2f3c-0eb0-44ed-93dc-c2a11d9669ce=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.UpgradeVersionWorker
eeaf2f3c-0eb0-44ed-93dc-c2a11d9669ce=System.Object[N2.Engine.ServiceAttribute];N2.Security.ContentProfileRepository
eeaf2f3c-0eb0-44ed-93dc-c2a11d9669ce=System.Object[N2.Engine.ServiceAttribute];N2.Security.MembershipAccountManager
eeaf2f3c-0eb0-44ed-93dc-c2a11d9669ce=System.Object[N2.Engine.ServiceAttribute];N2.Security.MembershipAccountResources
eeaf2f3c-0eb0-44ed-93dc-c2a11d9669ce=System.Object[N2.Engine.ServiceAttribute];N2.Management.Resources.IconHandler
eeaf2f3c-0eb0-44ed-93dc-c2a11d9669ce=System.Object[N2.Engine.ServiceAttribute];N2.Security.ItemBridge
eeaf2f3c-0eb0-44ed-93dc-c2a11d9669ce=System.Object[N2.Engine.ServiceAttribute];N2.Edit.KeepAlive.Pinger
eeaf2f3c-0eb0-44ed-93dc-c2a11d9669ce=System.Object[N2.Engine.ServiceAttribute];N2.Edit.LinkTracker.Tracker
eeaf2f3c-0eb0-44ed-93dc-c2a11d9669ce=System.Object[N2.Engine.ServiceAttribute];N2.Management.Users.MessageBoard
eeaf2f3c-0eb0-44ed-93dc-c2a11d9669ce=System.Object[N2.Engine.ServiceAttribute];N2.Management.Users.ChatMessageReceiver
eeaf2f3c-0eb0-44ed-93dc-c2a11d9669ce=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Trash.DeleteInterceptor
eeaf2f3c-0eb0-44ed-93dc-c2a11d9669ce=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Trash.TrashCleanupAgent
eeaf2f3c-0eb0-44ed-93dc-c2a11d9669ce=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Trash.TrashHandler
eeaf2f3c-0eb0-44ed-93dc-c2a11d9669ce=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Wizard.LocationWizard
eeaf2f3c-0eb0-44ed-93dc-c2a11d9669ce=N2.ContentItem;N2.Management.Content.Navigation.ChildGroupContainer
eeaf2f3c-0eb0-44ed-93dc-c2a11d9669ce=N2.ContentItem;N2.Management.Content.LinkTracker.PermanentRedirect
eeaf2f3c-0eb0-44ed-93dc-c2a11d9669ce=N2.ContentItem;N2.Management.Content.Templates.TemplateContainer
eeaf2f3c-0eb0-44ed-93dc-c2a11d9669ce=N2.ContentItem;N2.Management.Externals.ExternalItem
eeaf2f3c-0eb0-44ed-93dc-c2a11d9669ce=N2.ContentItem;N2.Edit.FileSystem.Items.AbstractNode
eeaf2f3c-0eb0-44ed-93dc-c2a11d9669ce=N2.ContentItem;N2.Edit.FileSystem.Items.AbstractDirectory
eeaf2f3c-0eb0-44ed-93dc-c2a11d9669ce=N2.ContentItem;N2.Edit.FileSystem.Items.Directory
eeaf2f3c-0eb0-44ed-93dc-c2a11d9669ce=N2.ContentItem;N2.Edit.FileSystem.Items.File
eeaf2f3c-0eb0-44ed-93dc-c2a11d9669ce=N2.ContentItem;N2.Edit.FileSystem.Items.RootDirectory
eeaf2f3c-0eb0-44ed-93dc-c2a11d9669ce=N2.ContentItem;N2.Management.ManagementItem
eeaf2f3c-0eb0-44ed-93dc-c2a11d9669ce=N2.ContentItem;N2.Management.Myself.Analytics.Models.AnalyticsPartBase
eeaf2f3c-0eb0-44ed-93dc-c2a11d9669ce=N2.ContentItem;N2.Management.Myself.Analytics.Models.ManageAnalyticsPart
eeaf2f3c-0eb0-44ed-93dc-c2a11d9669ce=N2.ContentItem;N2.Management.Myself.RootPartBase
eeaf2f3c-0eb0-44ed-93dc-c2a11d9669ce=N2.ContentItem;N2.Management.Myself.ManagementFlagPart
eeaf2f3c-0eb0-44ed-93dc-c2a11d9669ce=N2.ContentItem;N2.Management.Myself.Collaboration.ManagementMessagePart
eeaf2f3c-0eb0-44ed-93dc-c2a11d9669ce=N2.ContentItem;N2.Security.Items.UserExternalLoginInfo
eeaf2f3c-0eb0-44ed-93dc-c2a11d9669ce=N2.ContentItem;N2.Security.Items.User
eeaf2f3c-0eb0-44ed-93dc-c2a11d9669ce=N2.ContentItem;N2.Security.Items.UserList
eeaf2f3c-0eb0-44ed-93dc-c2a11d9669ce=N2.ContentItem;N2.Management.Myself.ActivityPart
eeaf2f3c-0eb0-44ed-93dc-c2a11d9669ce=N2.ContentItem;N2.Management.Myself.LanguagesPart
eeaf2f3c-0eb0-44ed-93dc-c2a11d9669ce=N2.ContentItem;N2.Management.Myself.RootBase
eeaf2f3c-0eb0-44ed-93dc-c2a11d9669ce=N2.ContentItem;N2.Management.Myself.StatisticsPart
eeaf2f3c-0eb0-44ed-93dc-c2a11d9669ce=N2.ContentItem;N2.Management.Myself.WizardsPart
eeaf2f3c-0eb0-44ed-93dc-c2a11d9669ce=N2.ContentItem;N2.Edit.Trash.TrashContainerItem
eeaf2f3c-0eb0-44ed-93dc-c2a11d9669ce=N2.ContentItem;N2.Edit.Wizard.Items.MagicLocation
eeaf2f3c-0eb0-44ed-93dc-c2a11d9669ce=N2.ContentItem;N2.Edit.Wizard.Items.Wonderland
eeaf2f3c-0eb0-44ed-93dc-c2a11d9669ce=N2.Plugin.IPluginInitializer;N2.Management.Tokens.TokenInitializer
eeaf2f3c-0eb0-44ed-93dc-c2a11d9669ce=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];N2.Edit.FileSystem.Items.AbstractNodeAdapter
eeaf2f3c-0eb0-44ed-93dc-c2a11d9669ce=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];N2.Files.FileSystem.Pages.FileSystemNodeAdapter
eeaf2f3c-0eb0-44ed-93dc-c2a11d9669ce=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];N2.Management.ManagementItemsNodeAdapter
eeaf2f3c-0eb0-44ed-93dc-c2a11d9669ce=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];N2.Templates.Mvc.Services.MvcOnWebFormPartAdapter
eeaf2f3c-0eb0-44ed-93dc-c2a11d9669ce=System.Web.Mvc.IController;N2.Management.Myself.Analytics.Controllers.ManageAnalyticsController
eeaf2f3c-0eb0-44ed-93dc-c2a11d9669ce=System.Object[N2.Plugin.IPlugin];N2.Management.Content.Activity.RecentActivity
eeaf2f3c-0eb0-44ed-93dc-c2a11d9669ce=System.Object[N2.Plugin.IPlugin];N2.Edit.Copy
eeaf2f3c-0eb0-44ed-93dc-c2a11d9669ce=System.Object[N2.Plugin.IPlugin];N2.Edit.Default
eeaf2f3c-0eb0-44ed-93dc-c2a11d9669ce=System.Object[N2.Plugin.IPlugin];N2.Edit.Delete
eeaf2f3c-0eb0-44ed-93dc-c2a11d9669ce=System.Object[N2.Plugin.IPlugin];N2.Edit.Edit
eeaf2f3c-0eb0-44ed-93dc-c2a11d9669ce=System.Object[N2.Plugin.IPlugin];N2.Management.Content.EditRecursive
eeaf2f3c-0eb0-44ed-93dc-c2a11d9669ce=System.Object[N2.Plugin.IPlugin];N2.Edit.Export.Default
eeaf2f3c-0eb0-44ed-93dc-c2a11d9669ce=System.Object[N2.Plugin.IPlugin];N2.Management.Content.Templates.Default
eeaf2f3c-0eb0-44ed-93dc-c2a11d9669ce=System.Object[N2.Plugin.IPlugin];N2.Edit.Globalization._Default
eeaf2f3c-0eb0-44ed-93dc-c2a11d9669ce=System.Object[N2.Plugin.IPlugin];N2.Edit.Globalization.Translate
eeaf2f3c-0eb0-44ed-93dc-c2a11d9669ce=System.Object[N2.Plugin.IPlugin];N2.Management.Files.Default
eeaf2f3c-0eb0-44ed-93dc-c2a11d9669ce=System.Object[N2.Plugin.IPlugin];N2.Edit.Membership.ListRoles
eeaf2f3c-0eb0-44ed-93dc-c2a11d9669ce=System.Object[N2.Plugin.IPlugin];N2.Management.Myself.Root
eeaf2f3c-0eb0-44ed-93dc-c2a11d9669ce=System.Object[N2.Plugin.IPlugin];N2.Edit.LinkTracker._Default
eeaf2f3c-0eb0-44ed-93dc-c2a11d9669ce=System.Object[N2.Plugin.IPlugin];N2.Edit.Membership.Users
eeaf2f3c-0eb0-44ed-93dc-c2a11d9669ce=System.Object[N2.Plugin.IPlugin];N2.Edit.Move
eeaf2f3c-0eb0-44ed-93dc-c2a11d9669ce=System.Object[N2.Plugin.IPlugin];N2.Edit.Navigation.Search
eeaf2f3c-0eb0-44ed-93dc-c2a11d9669ce=System.Object[N2.Plugin.IPlugin];N2.Edit.Navigation.SortUp
eeaf2f3c-0eb0-44ed-93dc-c2a11d9669ce=System.Object[N2.Plugin.IPlugin];N2.Edit.paste
eeaf2f3c-0eb0-44ed-93dc-c2a11d9669ce=System.Object[N2.Plugin.IPlugin];N2.Edit.New
eeaf2f3c-0eb0-44ed-93dc-c2a11d9669ce=System.Object[N2.Plugin.IPlugin];N2.Edit.Security.Default
eeaf2f3c-0eb0-44ed-93dc-c2a11d9669ce=System.Object[N2.Plugin.IPlugin];N2.Edit.Settings.Default
eeaf2f3c-0eb0-44ed-93dc-c2a11d9669ce=System.Object[N2.Plugin.IPlugin];N2.Edit.Versions.Default
eeaf2f3c-0eb0-44ed-93dc-c2a11d9669ce=System.Object[N2.Plugin.IPlugin];N2.Edit.Wizard.Default
assembly=13e8ed5a-b291-47c4-a4fa-5933f7a63268;N2.Management.Targeting, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null
13e8ed5a-b291-47c4-a4fa-5933f7a63268=System.Object[N2.Engine.ServiceAttribute];N2.Management.Targeting.Parts.TargetContainerRenderer
13e8ed5a-b291-47c4-a4fa-5933f7a63268=System.Object[N2.Engine.ServiceAttribute];N2.Management.Targeting.TargetingModule
13e8ed5a-b291-47c4-a4fa-5933f7a63268=N2.ContentItem;N2.Management.Targeting.Parts.TargetContainer
13e8ed5a-b291-47c4-a4fa-5933f7a63268=N2.Plugin.IPluginInitializer;none
13e8ed5a-b291-47c4-a4fa-5933f7a63268=System.Web.Mvc.IController;none
13e8ed5a-b291-47c4-a4fa-5933f7a63268=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];none
13e8ed5a-b291-47c4-a4fa-5933f7a63268=System.Object[N2.Plugin.IPlugin];none
assembly=cac1e3a4-a122-47e2-babf-94230bf0a11a;N2.Packaging, Version=2.7.5.0, Culture=neutral, PublicKeyToken=null
cac1e3a4-a122-47e2-babf-94230bf0a11a=System.Object[N2.Engine.ServiceAttribute];N2.Web.Hosting.ZipVppInitializer
cac1e3a4-a122-47e2-babf-94230bf0a11a=N2.ContentItem;none
cac1e3a4-a122-47e2-babf-94230bf0a11a=N2.Plugin.IPluginInitializer;none
cac1e3a4-a122-47e2-babf-94230bf0a11a=System.Web.Mvc.IController;none
cac1e3a4-a122-47e2-babf-94230bf0a11a=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];none
cac1e3a4-a122-47e2-babf-94230bf0a11a=System.Object[N2.Plugin.IPlugin];none
assembly=979d84db-373a-4765-834b-7b08424f5019;N2.Search.Lucene, Version=2.7.5.0, Culture=neutral, PublicKeyToken=null
979d84db-373a-4765-834b-7b08424f5019=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Search.LuceneLightweightSearcher
979d84db-373a-4765-834b-7b08424f5019=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Search.LuceneAccesor
979d84db-373a-4765-834b-7b08424f5019=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Search.LuceneIndexer
979d84db-373a-4765-834b-7b08424f5019=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Search.LuceneContentSearcher
979d84db-373a-4765-834b-7b08424f5019=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Search.ReindexTextMigration
979d84db-373a-4765-834b-7b08424f5019=N2.ContentItem;none
979d84db-373a-4765-834b-7b08424f5019=N2.Plugin.IPluginInitializer;none
979d84db-373a-4765-834b-7b08424f5019=System.Web.Mvc.IController;none
979d84db-373a-4765-834b-7b08424f5019=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];none
979d84db-373a-4765-834b-7b08424f5019=System.Object[N2.Plugin.IPlugin];none
assembly=b6209edc-b265-4826-91be-aa8d407a41dc;SEDC.BattleOfWorlds.Domain, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null
b6209edc-b265-4826-91be-aa8d407a41dc=System.Object[N2.Engine.ServiceAttribute];none
b6209edc-b265-4826-91be-aa8d407a41dc=N2.ContentItem;none
b6209edc-b265-4826-91be-aa8d407a41dc=N2.Plugin.IPluginInitializer;none
b6209edc-b265-4826-91be-aa8d407a41dc=System.Web.Mvc.IController;none
b6209edc-b265-4826-91be-aa8d407a41dc=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];none
b6209edc-b265-4826-91be-aa8d407a41dc=System.Object[N2.Plugin.IPlugin];none
assembly=0e9397dc-9f05-42d1-a693-2aa155372839;SEDC.BattleOfWorlds.Infrastructure.AppServices, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null
0e9397dc-9f05-42d1-a693-2aa155372839=System.Object[N2.Engine.ServiceAttribute];none
0e9397dc-9f05-42d1-a693-2aa155372839=N2.ContentItem;none
0e9397dc-9f05-42d1-a693-2aa155372839=N2.Plugin.IPluginInitializer;none
0e9397dc-9f05-42d1-a693-2aa155372839=System.Web.Mvc.IController;none
0e9397dc-9f05-42d1-a693-2aa155372839=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];none
0e9397dc-9f05-42d1-a693-2aa155372839=System.Object[N2.Plugin.IPlugin];none
assembly=d293b52c-27d9-4d11-bc85-0c161e39d7e1;SEDC.BattleOfWorlds.Infrastructure.DataAccess, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null
d293b52c-27d9-4d11-bc85-0c161e39d7e1=System.Object[N2.Engine.ServiceAttribute];none
d293b52c-27d9-4d11-bc85-0c161e39d7e1=N2.ContentItem;none
d293b52c-27d9-4d11-bc85-0c161e39d7e1=N2.Plugin.IPluginInitializer;none
d293b52c-27d9-4d11-bc85-0c161e39d7e1=System.Web.Mvc.IController;none
d293b52c-27d9-4d11-bc85-0c161e39d7e1=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];none
d293b52c-27d9-4d11-bc85-0c161e39d7e1=System.Object[N2.Plugin.IPlugin];none
assembly=1f0b05bf-9b57-438c-866a-40925a3b3d05;SEDC.BattleOfWorlds.Infrastructure.WebUI, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null
1f0b05bf-9b57-438c-866a-40925a3b3d05=System.Object[N2.Engine.ServiceAttribute];SEDC.BattleOfWorlds.Infrastructure.WebUI.Registrations.PermissionDeniedHandler
1f0b05bf-9b57-438c-866a-40925a3b3d05=System.Object[N2.Engine.ServiceAttribute];SEDC.BattleOfWorlds.Infrastructure.WebUI.Registrations.StartPageRegistration
1f0b05bf-9b57-438c-866a-40925a3b3d05=N2.ContentItem;SEDC.BattleOfWorlds.Infrastructure.WebUI.Models.LanguageIntersection
1f0b05bf-9b57-438c-866a-40925a3b3d05=N2.ContentItem;SEDC.BattleOfWorlds.Infrastructure.WebUI.Models.StartPage
1f0b05bf-9b57-438c-866a-40925a3b3d05=N2.ContentItem;SEDC.BattleOfWorlds.Infrastructure.WebUI.Models.N2.Parts.ContentPart
1f0b05bf-9b57-438c-866a-40925a3b3d05=N2.ContentItem;SEDC.BattleOfWorlds.Infrastructure.WebUI.Models.N2.Parts.PartBase
1f0b05bf-9b57-438c-866a-40925a3b3d05=N2.ContentItem;SEDC.BattleOfWorlds.Infrastructure.WebUI.Models.N2.Pages.ContentPageBase
1f0b05bf-9b57-438c-866a-40925a3b3d05=N2.ContentItem;SEDC.BattleOfWorlds.Infrastructure.WebUI.Models.N2.Pages.PageBase
1f0b05bf-9b57-438c-866a-40925a3b3d05=N2.Plugin.IPluginInitializer;Dinamico.GlobalMvcStarter
1f0b05bf-9b57-438c-866a-40925a3b3d05=System.Web.Mvc.IController;SEDC.BattleOfWorlds.Infrastructure.WebUI.LanguageIntersectionController
1f0b05bf-9b57-438c-866a-40925a3b3d05=System.Web.Mvc.IController;SEDC.BattleOfWorlds.Infrastructure.WebUI.Controllers.StartPageController
1f0b05bf-9b57-438c-866a-40925a3b3d05=System.Web.Mvc.IController;SEDC.BattleOfWorlds.Infrastructure.WebUI.Controllers.PlayerController
1f0b05bf-9b57-438c-866a-40925a3b3d05=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];none
1f0b05bf-9b57-438c-866a-40925a3b3d05=System.Object[N2.Plugin.IPlugin];none
