@model SEDC.BattleOfWorlds.Domain.Base

<div>
    <h4>Base</h4>
    <hr />
   @{   
       var buildings = new SEDC.BattleOfWorlds.Infrastructure.DataAccess.BuildingsRepository().GetAll();
       foreach (var building in buildings)
       {
           @Html.Partial("_BuildingPartial", building)
       }
    }
</div>
@section scripts{
    <script >
        $(".buyNew").on("click", function () {
            var id = this.parent().attr("entityID");
            console.log(id);
            console.log("niguh!");
            //send json answer to server to build the thing
        });
    </script>
}

