@model SEDC.BattleOfWorlds.Infrastructure.AppServices.ThePlayer

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <h4>Player</h4>
    <hr />
    @Html.Partial("_BasePartial",Model.Base);
</div>

